@layer base {
  :root {
    --base-1: 270 5.555555555555555% 7.0588235294117645%;
    --base-2: 270 3.8461538461538463% 10.196078431372548%;
    --base-3: 260.00000000000006 4.225352112676061% 13.92156862745098%;
    --base-4: 270 4.651162790697675% 16.862745098039216%;
    --base-5: 263.99999999999994 4.950495049504953% 19.80392156862745%;
    --base-6: 269.99999999999994 5% 23.52941176470588%;
    --base-7: 257.1428571428571 4.697986577181211% 29.215686274509807%;
    --base-8: 258.00000000000006 4.9999999999999964% 39.21568627450981%;
    --base-9: 250.90909090909096 4.803493449781661% 44.90196078431372%;
    --base-10: 250.90909090909085 4.31372549019608% 50%;
    --base-11: 258.00000000000006 6.944444444444459% 71.76470588235294%;
    --base-12: 240 6.249999999999978% 93.72549019607843%;
    --accent-1: 216.66666666666666 40.909090909090914% 8.627450980392156%;
    --accent-2: 215.45454545454544 39.28571428571429% 10.980392156862745%;
    --accent-3: 210.63829787234042 58.0246913580247% 15.88235294117647%;
    --accent-4: 208.23529411764707 66.66666666666667% 20%;
    --accent-5: 205.60975609756096 66.12903225806453% 24.313725490196077%;
    --accent-6: 205 64% 29.411764705882355%;
    --accent-7: 202.95652173913044 64.97175141242938% 34.705882352941174%;
    --accent-8: 200.13422818791946 74.87437185929649% 39.01960784313726%;
    --accent-9: 192.92307692307693 98.48484848484848% 74.11764705882354%;
    --accent-10: 191.72413793103448 100% 82.94117647058823%;
    --accent-11: 199.99999999999997 80.3921568627451% 70%;
    --accent-12: 191.8032786885246 100% 88.0392156862745%;
    --background: 270 5.555555555555555% 7.0588235294117645%;
    --foreground: 240 6.249999999999978% 93.72549019607843%;
    --card: 270 3.8461538461538463% 10.196078431372548%;
    --card-foreground: 240 6.249999999999978% 93.72549019607843%;
    --popover: 270 5.555555555555555% 7.0588235294117645%;
    --popover-foreground: 240 6.249999999999978% 93.72549019607843%;
    --primary: 131.25 38.709677419354826% 51.37254901960784%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 3.8461538461538463% 10.196078431372548%;
    --secondary-foreground: 258.00000000000006 6.944444444444459%
      71.76470588235294%;
    --muted: 270 3.8461538461538463% 10.196078431372548%;
    --muted-foreground: 258.00000000000006 6.944444444444459%
      71.76470588235294%;
    --accent: 191.72413793103448 100% 82.94117647058823%;
    --accent-foreground: 205.26315789473688 49.56521739130436%
      22.54901960784314%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 269.99999999999994 5% 23.52941176470588%;
    --input: 269.99999999999994 5% 23.52941176470588%;
    --ring: 269.99999999999994 5% 23.52941176470588%;
    --chart-1: 191.72413793103448 100% 82.94117647058823%;
    --chart-2: 199.99999999999997 80.3921568627451% 70%;
    --chart-3: 192.92307692307693 98.48484848484848% 74.11764705882354%;
    --chart-4: 200.13422818791946 74.87437185929649% 39.01960784313726%;
    --chart-5: 205 64% 29.411764705882355%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-mono bg-background text-muted-foreground;
  }
}
